<form action="/createpoll" method="post">
  <h3>Input your question</h3>
  <textarea name="question"></textarea>
  <h4>what are your choices</h4>
  <input type="text" name="choice1"><br>
  <input type="text" name="choice2"><br>
  <input type="text" name="choice3"><br>
  <input type="text" name="choice4"><br>
  <input type="submit" value="Submit">
</form>
