<nav class="nav-bar">
  <img class="logo" src="/images/logo.png">
  <span class="header">Decision Maker</span>
  <button class="new"><a href="/new">New Poll</a></button>

  <div class="logIn">
    <!--todo: define username -->
    <p>Hello <%= userName %></p>
    <form class="logout-form" action="/home/logout" method="post">
      <input class="logoutbutton" name="logout" type="submit" value="Logout">
    </form>
  </div>
</nav>
