<nav class="nav-bar">
  <img class="logo" src="/images/logo.png">
  <span class="header">Decision Maker</span>
  <button class="new">New Poll</button>

  <div class="logIn">
    <!--todo: define username -->
    <p>Hello userName</p>
    <button id="logout">Log Out</button>
  </div>
</nav>
