<nav class="nav-bar">
  <div class="header">
    <img class="logo" src="/images/logo.png" />
    <div><i>Prefer.Engine</i></div>
  </div>
  <div class="logIn">
    <!--todo: define username -->
    <form class="logout-form" action="/home/logout" method="post">
      <div>Hello <%= username %></div>
      <input class="logoutbutton" name="logout" type="submit" value="Logout">
    </form>
  </div>
</nav>
