<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefer.Engine - Results</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/graph.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_header.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">

    <!--external vendor -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>


  </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>
  </body>
    <br><br><br><br><br><br><br>
    <div class="winner">The winner is: <em class="winnername"><%= winner %></em></div>
    <div id="myDiv"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
    var data = [{
      x: <%- choices %>,
      y: [<%= vote %>],
      type: 'bar',
      marker: {
        color: 'rgb(88,164,176)'
      }

    }];

    var layout = {
      title: <%- question.toUpperCase() %>,
      height: 600,
      width: 800,
      font: {
        family: 'PT Serif, monospace',
        size: 15,
        color: 'rgb(64,89,73)'
      },
      margin: {
        l: 50,
        r: 50,
        b: 50,
        t: 100,
        pad: 4
      },
      paper_bgcolor: '#eceef7',
      plot_bgcolor: 'white'
    }

    Plotly.newPlot('myDiv', data, layout);
    </script>
</html>
