<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decision Maker</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/new.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_header.css" type="text/css" />

    <!--external vendor -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script></script>
    <script></script>
  </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>

    <main id="container">
      <% include partials/_createpoll %>
    <h2 class="queston">What do you want for dinner tonight</h2>

    <div id="options">
      <li class="option">Chicken</li>
      <li class="option">Beef</li>
      <li class="option">Meh~</li>
    </div>


  </main>
  </body>

</html>
