<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefer.Engine</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/new.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_header.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">

    <!--external vendor -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/new.js"></script>

  </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>

<main id="container">
  <div id="empty-q-warning" hidden>Question can not be empty!</div>
  <div id="empty-o-warning" hidden>There must be at least 2 options!</div>
  <div id="fewer-o-warning" hidden>Options can not be empty!</div>
    <div class="container">
    <div class="row clearfix new-poll">
		<div class="col-md-12 column">
      <form id="newpoll" role="form">
        <thead>
          <tr>
            <input type="text" name='question' id="question" placeholder='describe your poll question' class="form-control"/>
          </tr>
        </thead>
  			<table class="table table-bordered table-hover" id="tab_logic1">
  				<thead>
  					<tr>
  						<th class="text-center">
  							#
  						</th>
              <th class='text-center'>
                Option
              </th>
  						<th class="text-center">
  							Description
  						</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr id='opp0'>
  						<td>
  						1
  						</td>
  						<td>
    						<input type="text" name='option0'  placeholder='Option' class="form-control option"/>
  						</td>
              <td>
                <input type="text" name='description0' placeholder='Description' class="form-control description"/>
              </td>
  					</tr>
                      <tr id='opp1'></tr>
  				</tbody>
  			</table>
        <a id="add_row1" class="btn btn-default pull-left">+</a><input type="submit" name="newpoll-submit" id="newpoll-submit" class="btn btn-register" value="Submit"><a id='delete_row1' class="pull-right btn btn-default">-</a>
      </form>
		</div>
	</div>

  <div class="row clearfix email-list">
  <div class="col-md-12 column">
    <form id="email-list-form" role="form">
      <table class="table table-bordered table-hover" id="tab_logic2">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              Grant access to the poll:
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id='email0'>
            <td>
            1
            </td>
            <td>
            <input type="text" name='email0'  placeholder='email address' class="form-control input-md email"/>
            </td>
          </tr>
                    <tr id='email1'></tr>
        </tbody>
      </table>
      <a id="add_row2" class="btn btn-default pull-left">+</a><a id='delete_row2' class="pull-right btn btn-default">-</a>
    </form>
  </div>
</div>


</div>
</main>

  </body>

</html>
