nav {
  position: fixed;
  height: 100px;
  width: 100%;
  background: #80B192;
  color: #e8fdff;
  padding-left: 2em;
  padding-top: 0em;
  padding-right: 2em;
  padding-bottom: 0em;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

nav div.header {
  margin-top: 16px;
  font-size: 200%;
  color: black;
}

nav div.header img.logo {
  width: 120px;
  margin-top: 50px;
}

nav div.header div {
  position: relative;
  bottom: 90px;
  left: 110px;
}

nav span.header {
  margin-top: 16px;
  font-size: 200%;
  color: black;
}

nav form.logout-form {
  display: flex;
  flex-direction: column;
}

nav form.logout-form div {
  margin-bottom: 6px;
}

nav div.login-anchor {
  display: flex;
}
