nav.nav-bar {
  position: fixed;
  height: 100px;
  width: 100%;
  background: #80B192;
  color: #e8fdff;
  padding-left: 2em;
  padding-top: 0em;
  padding-right: 2em;
  padding-bottom: 0em;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

nav.nav-bar .header {
  margin-top: 16px;
  font-size: 200%;
  color: black;
}

nav.nav-bar .header img.logo {
  width: 120px;
  margin-top: 50px;
}

nav.nav-bar .header div {
  position: relative;
  bottom: 90px;
  left: 110px;
}

nav.nav-bar form.logout-form {
  display: flex;
  flex-direction: column;
}

nav.nav-bar form.logout-form div#username {
  font-size: 120%;
  font-weight: bolder;
  margin-bottom: 6px;
}

nav.nav-bar form.logout-form input.logoutbutton {
  background-color: white;
  font-weight: lighter;
  border-radius: 5px;
}

nav.nav-bar div.login-anchor {
  display: flex;
}
