body {
  background: #eceef7;
}

.winner {
  margin-left: 20px;
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  background: white;
  width: 500px;
  text-align: center;
}

.winner .winnername {
  color: red;
}
