html {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
}

body {
  background-color: white;
  color: black;
}

body main#poll-container {
  cursor: unset;
  max-width: 500px;
  min-width: 400px;
  margin: auto;
  background-color: white;
  overflow: auto;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body main#poll-container h1 {
  border-bottom: 3px solid black;
}

body main#poll-container ul#poll-block-list li {
  background-color: #ed8e9a;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  font-weight: 300;
  font-size: 24px;
}

body main#poll-container div#poll-vote-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body main#poll-container button#poll-vote-submit {
  margin: 10px 10px 10px 10px;
  background-color: white;
  font-weight: bolder;
}

body main#container {
  margin-top: 120px;
}

body main#container div#history {
  float: right;
  margin-left: 10%;
  margin-right: 10px;
  width: 250px;
}

#myDiv {
  float: left;
  margin-left: 20px;
}
