body {
  background-color: white;
}

body main#container {
  margin-top: 11%;
}

body main#container div.container {
  margin-top: 20%;
}

body main#container div.container #newpoll-summit {
  width: 15%;
  margin-left: 38%;
  background: #73a4f4;
}
