nav {
  position: fixed;
  height: 13%;
  width: 100%;
  background: #e6f0ff;
  color: #e8fdff;
  padding-left: 2em;
  padding-top: 0em;
  padding-right: 2em;
  padding-bottom: 0em;
  top: 0;
  z-index: 1;

    img.logo {
      width: 10%;
      margin-top: -1%;
    }

    span.header {
      font-size:170%;
      color: black;
    }
}
