html {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
}

body {
  background-color: white;
  color: black;

  main#poll-container {
    cursor: unset;
    max-width: 500px;
    min-width: 400px;
    margin: auto;
    background-color: white;
    overflow: auto;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1 {
      border-bottom: 3px solid black;
    }
    ul#poll-block-list {
      li {
        margin: 10px 10px 10px 10px;
        padding: 20px 20px 20px 20px;
        font-weight: 300;
        font-size: 24px;
      }
    }
    button#poll-vote-submit {
      background-color: white;
      font-weight: bolder;
    }
  }

  main#container {
    margin-top: 120px;
    div#history {
      float: right;
      margin-left: 10%;
      margin-right: 10px;
      width: 250px;

      article.past-polls {


        h2 {

        }

        button {

        }
      }
    }

  }
}
