body {
  background-color: white;


  main#container {
    margin-top: 100px;

    div#history {
      float: right;
      margin-left: 10%;
      margin-right: 10px;
      width: 250px;

      article.past-polls {


        h2 {

        }

        button {

        }
      }
    }

  }
}
