html {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
}

body {
  background-color: #eceef7;
  color: black;

  main#poll-container {
    cursor: unset;
    max-width: 500px;
    min-width: 400px;
    margin: auto;
    background-color: white;
    overflow: auto;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1 {
      border-bottom: 3px solid black;
    }
    ul#poll-block-list {
      li {
        background-color: #ed8e9a;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        padding: 20px 20px 20px 20px;
        font-weight: 300;
        font-size: 24px;
      }
    }
    div#poll-vote-confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    button#poll-vote-submit {
      margin: 10px 10px 10px 10px;
      background-color: white;
      font-weight: bolder;
    }
  }

  main#container {
    margin-top: 120px;
    div#history {
      float: right;
      margin-left: 10%;
      margin-right: 10px;
      width: 250px;
      div.panel{
        border-color: #1b351b;
        div.panel-heading {
          background:#1b351b;
          border-color: #1b351b;
        }
      }
    }

  }
}

div.error2 {
  font-weight: bold;
  text-size: 1.5em;
  color: red;
}

#myDiv {
  float: left;
  margin-left: 20px;
  position: fixed;
}
