body {
  background-color: white;


  main#container {
    margin-top: 11%;

    div.container {
      margin-top: 20%;

      #newpoll-summit {
        width: 15%;
        margin-left: 38%;
        background: #73a4f4;
      }
    }



  }
}
