body {
  background-color: #eceef7;

  main#container {
    margin-top: 11%;

    div#empty-q-warning {
      color: red;
      margin-left: 41%;
      margin-bottom: -13%;
    }

    div#fewer-o-warning {
      color: red;
      margin-left: 41%;
      margin-bottom: -13%;
    }

    div#empty-o-warning {
      color: red;
      margin-left: 41%;
      margin-bottom: -13%;
    }

    div.container {
      margin-top: 160px;


      div.new-poll {
        float: right;
        width: 70%;
        margin-left: 20%;
        margin-right: 20%;

        table.table {
          background-color: #A1E887;
        }
        input#newpoll-submit {
          width: 15%;
          background: white;
          border: 0.1em solid grey;
          margin-left: 40%;
        }

      }

      div.email-list {
        float: right;
        margin-right: -7%;
        width: 25%;

        table.table {
          background-color:#A1E887;

          #email-list-submit {
            background: white;
            border: 0.1em solid grey;
            margin-left: 20%;
          }
        }
      }
    }
  }
}

table.table {
  th {
    height: 52px;
  }
}

input#question {
  height: 3.5em;
  margin-bottom: 8%;
  margin-top: 10%;
}

form#email-list-form {

}

div.email-list div.column {
  margin-top: -73%;
}

input#invite {
  margin-top: -68%;
  background: white;
  border: 0.1em solid grey;
}
