body {
  background-color: #eceef7;

  main#container {
    margin-top: 11%;

    div.container {
      margin-top: 160px;

      div#empty-q-warning {
        color: red;
        margin-left: 41%;
      }

      div#fewer-o-warning {
        color: red;
        margin-left: 41%;
      }

      div#empty-o-warning {
        color: red;
        margin-left: 41%;
      }

      div.new-poll {
        float: right;
        width: 70%;
        table.table {
          background-color: #6A8D92;
        }
        input#newpoll-submit {
          width: 15%;
          background: white;
          border: 0.1em solid grey;
        }
      }

      div.email-list {
        float: left;
        margin-left: 0%;
        width: 33%;

        table.table {
          background-color:#6A8D92;

          #email-list-submit {
            background: white;
            border: 0.1em solid grey;
            margin-left: 20%;
          }
        }
      }
    }
  }
}

table.table {
  th {
    height: 52px;
  }
}
